IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Currencies] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Symbol] nvarchar(max) NULL,
    CONSTRAINT [PK_Currencies] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [LoginAudits] (
    [Id] uniqueidentifier NOT NULL,
    [UserName] nvarchar(max) NULL,
    [LoginTime] datetime2 NOT NULL,
    [RemoteIP] nvarchar(50) NULL,
    [Status] nvarchar(max) NULL,
    [Provider] nvarchar(max) NULL,
    [Latitude] nvarchar(50) NULL,
    [Longitude] nvarchar(50) NULL,
    CONSTRAINT [PK_LoginAudits] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [NewsletterSubscribers] (
    [Id] uniqueidentifier NOT NULL,
    [Email] nvarchar(50) NOT NULL,
    [IsDeleted] bit NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    CONSTRAINT [PK_NewsletterSubscribers] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [NLog] (
    [Id] uniqueidentifier NOT NULL,
    [MachineName] nvarchar(max) NULL,
    [Logged] datetime2 NOT NULL,
    [Level] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [Logger] nvarchar(max) NULL,
    [Properties] nvarchar(max) NULL,
    [Callsite] nvarchar(max) NULL,
    [Exception] nvarchar(max) NULL,
    [Source] nvarchar(50) NULL,
    CONSTRAINT [PK_NLog] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [FirstName] nvarchar(max) NULL,
    [LastName] nvarchar(max) NULL,
    [IsDeleted] bit NOT NULL,
    [IsActive] bit NOT NULL,
    [ProfilePhoto] nvarchar(max) NULL,
    [Provider] nvarchar(max) NULL,
    [Address] nvarchar(max) NULL,
    [IsSuperAdmin] bit NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [UserName] nvarchar(256) NULL,
    [NormalizedUserName] nvarchar(256) NULL,
    [Email] nvarchar(256) NULL,
    [NormalizedEmail] nvarchar(256) NULL,
    [EmailConfirmed] bit NOT NULL,
    [PasswordHash] nvarchar(max) NULL,
    [SecurityStamp] nvarchar(max) NULL,
    [ConcurrencyStamp] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NULL,
    [PhoneNumberConfirmed] bit NOT NULL,
    [TwoFactorEnabled] bit NOT NULL,
    [LockoutEnd] datetimeoffset NULL,
    [LockoutEnabled] bit NOT NULL,
    [AccessFailedCount] int NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Brands] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [ImageUrl] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Brands] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Brands_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [CompanyProfiles] (
    [Id] uniqueidentifier NOT NULL,
    [Title] nvarchar(max) NULL,
    [Address] nvarchar(max) NULL,
    [LogoUrl] nvarchar(max) NULL,
    [Phone] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [CurrencyCode] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_CompanyProfiles] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CompanyProfiles_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ContactRequests] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [Phone] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ContactRequests] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ContactRequests_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Countries] (
    [Id] uniqueidentifier NOT NULL,
    [CountryName] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Countries] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Countries_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [EmailSMTPSettings] (
    [Id] uniqueidentifier NOT NULL,
    [Host] nvarchar(max) NOT NULL,
    [UserName] nvarchar(max) NOT NULL,
    [Password] nvarchar(max) NOT NULL,
    [IsEnableSSL] bit NOT NULL,
    [Port] int NOT NULL,
    [IsDefault] bit NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_EmailSMTPSettings] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_EmailSMTPSettings_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_EmailSMTPSettings_Users_DeletedBy] FOREIGN KEY ([DeletedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_EmailSMTPSettings_Users_ModifiedBy] FOREIGN KEY ([ModifiedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [EmailTemplates] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Subject] nvarchar(max) NULL,
    [Body] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_EmailTemplates] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_EmailTemplates_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [ExpenseCategories] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ExpenseCategories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ExpenseCategories_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [InquirySources] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InquirySources] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InquirySources_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [InquiryStatuses] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InquiryStatuses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InquiryStatuses_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Pages] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Order] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Pages] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Pages_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [ProductCategories] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [ParentId] uniqueidentifier NULL,
    [Description] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ProductCategories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ProductCategories_ProductCategories_ParentId] FOREIGN KEY ([ParentId]) REFERENCES [ProductCategories] ([Id]),
    CONSTRAINT [FK_ProductCategories_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Reminders] (
    [Id] uniqueidentifier NOT NULL,
    [Subject] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [Frequency] int NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NULL,
    [DayOfWeek] int NULL,
    [IsRepeated] bit NOT NULL,
    [IsEmailNotification] bit NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Reminders] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Reminders_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [ReminderSchedulers] (
    [Id] uniqueidentifier NOT NULL,
    [Duration] datetime2 NOT NULL,
    [IsActive] bit NOT NULL,
    [Frequency] int NULL,
    [CreatedDate] datetime2 NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [IsRead] bit NOT NULL,
    [IsEmailNotification] bit NOT NULL,
    [Subject] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [ReferenceId] uniqueidentifier NULL,
    [Application] int NULL,
    CONSTRAINT [PK_ReminderSchedulers] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReminderSchedulers_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Roles] (
    [Id] uniqueidentifier NOT NULL,
    [IsDeleted] bit NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [Name] nvarchar(256) NULL,
    [NormalizedName] nvarchar(256) NULL,
    [ConcurrencyStamp] nvarchar(max) NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Roles_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Roles_Users_DeletedBy] FOREIGN KEY ([DeletedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Roles_Users_ModifiedBy] FOREIGN KEY ([ModifiedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Taxes] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Percentage] decimal(18,2) NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Taxes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Taxes_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Testimonials] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Designation] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [IsActive] bit NOT NULL,
    [Url] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Testimonials] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Testimonials_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Testimonials_Users_DeletedBy] FOREIGN KEY ([DeletedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Testimonials_Users_ModifiedBy] FOREIGN KEY ([ModifiedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Units] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Units] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Units_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [UserLogins] (
    [LoginProvider] nvarchar(450) NOT NULL,
    [ProviderKey] nvarchar(450) NOT NULL,
    [ProviderDisplayName] nvarchar(max) NULL,
    [UserId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_UserLogins] PRIMARY KEY ([LoginProvider], [ProviderKey]),
    CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [UserTokens] (
    [UserId] uniqueidentifier NOT NULL,
    [LoginProvider] nvarchar(450) NOT NULL,
    [Name] nvarchar(450) NOT NULL,
    [Value] nvarchar(max) NULL,
    CONSTRAINT [PK_UserTokens] PRIMARY KEY ([UserId], [LoginProvider], [Name]),
    CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Warehouses] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Address] nvarchar(max) NULL,
    [ContactPerson] nvarchar(max) NULL,
    [MobileNumber] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Warehouses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Warehouses_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Cities] (
    [Id] uniqueidentifier NOT NULL,
    [CityName] nvarchar(max) NULL,
    [CountryId] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Cities] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Cities_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Cities_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Expenses] (
    [Id] uniqueidentifier NOT NULL,
    [Reference] nvarchar(max) NULL,
    [ExpenseCategoryId] uniqueidentifier NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [ExpenseById] uniqueidentifier NULL,
    [Description] nvarchar(max) NULL,
    [ExpenseDate] datetime2 NOT NULL,
    [ReceiptName] nvarchar(max) NULL,
    [ReceiptPath] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Expenses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Expenses_ExpenseCategories_ExpenseCategoryId] FOREIGN KEY ([ExpenseCategoryId]) REFERENCES [ExpenseCategories] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Expenses_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Expenses_Users_ExpenseById] FOREIGN KEY ([ExpenseById]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Actions] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Order] int NOT NULL,
    [PageId] uniqueidentifier NOT NULL,
    [Code] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Actions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Actions_Pages_PageId] FOREIGN KEY ([PageId]) REFERENCES [Pages] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Actions_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [DailyReminders] (
    [Id] uniqueidentifier NOT NULL,
    [ReminderId] uniqueidentifier NOT NULL,
    [DayOfWeek] int NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_DailyReminders] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_DailyReminders_Reminders_ReminderId] FOREIGN KEY ([ReminderId]) REFERENCES [Reminders] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [HalfYearlyReminders] (
    [Id] uniqueidentifier NOT NULL,
    [ReminderId] uniqueidentifier NOT NULL,
    [Day] int NOT NULL,
    [Month] int NOT NULL,
    [Quarter] int NOT NULL,
    CONSTRAINT [PK_HalfYearlyReminders] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_HalfYearlyReminders_Reminders_ReminderId] FOREIGN KEY ([ReminderId]) REFERENCES [Reminders] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [QuarterlyReminders] (
    [Id] uniqueidentifier NOT NULL,
    [ReminderId] uniqueidentifier NOT NULL,
    [Day] int NOT NULL,
    [Month] int NOT NULL,
    [Quarter] int NOT NULL,
    CONSTRAINT [PK_QuarterlyReminders] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_QuarterlyReminders_Reminders_ReminderId] FOREIGN KEY ([ReminderId]) REFERENCES [Reminders] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ReminderNotifications] (
    [Id] uniqueidentifier NOT NULL,
    [ReminderId] uniqueidentifier NOT NULL,
    [Subject] nvarchar(max) NULL,
    [Description] nvarchar(max) NULL,
    [FetchDateTime] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    [IsEmailNotification] bit NOT NULL,
    CONSTRAINT [PK_ReminderNotifications] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReminderNotifications_Reminders_ReminderId] FOREIGN KEY ([ReminderId]) REFERENCES [Reminders] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ReminderUsers] (
    [ReminderId] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_ReminderUsers] PRIMARY KEY ([ReminderId], [UserId]),
    CONSTRAINT [FK_ReminderUsers_Reminders_ReminderId] FOREIGN KEY ([ReminderId]) REFERENCES [Reminders] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ReminderUsers_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id])
);
GO

CREATE TABLE [UserRoles] (
    [UserId] uniqueidentifier NOT NULL,
    [RoleId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_UserRoles] PRIMARY KEY ([UserId], [RoleId]),
    CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Products] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NULL,
    [Code] nvarchar(max) NULL,
    [Barcode] nvarchar(max) NULL,
    [SkuCode] nvarchar(max) NULL,
    [SkuName] nvarchar(max) NULL,
    [Description] nvarchar(max) NULL,
    [ProductUrl] nvarchar(max) NULL,
    [QRCodeUrl] nvarchar(max) NULL,
    [UnitId] uniqueidentifier NOT NULL,
    [PurchasePrice] decimal(18,2) NULL,
    [SalesPrice] decimal(18,2) NULL,
    [Mrp] decimal(18,2) NULL,
    [CategoryId] uniqueidentifier NOT NULL,
    [BrandId] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Products] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY ([BrandId]) REFERENCES [Brands] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Products_ProductCategories_CategoryId] FOREIGN KEY ([CategoryId]) REFERENCES [ProductCategories] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Products_Units_UnitId] FOREIGN KEY ([UnitId]) REFERENCES [Units] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Products_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Customers] (
    [Id] uniqueidentifier NOT NULL,
    [CustomerName] nvarchar(max) NULL,
    [ContactPerson] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [Fax] nvarchar(max) NULL,
    [MobileNo] nvarchar(max) NULL,
    [PhoneNo] nvarchar(max) NULL,
    [Website] nvarchar(max) NULL,
    [Description] nvarchar(max) NULL,
    [Url] nvarchar(max) NULL,
    [IsVarified] bit NOT NULL,
    [IsUnsubscribe] bit NOT NULL,
    [CustomerProfile] nvarchar(max) NULL,
    [Address] nvarchar(max) NULL,
    [CountryName] nvarchar(max) NULL,
    [CityName] nvarchar(max) NULL,
    [CountryId] uniqueidentifier NULL,
    [CityId] uniqueidentifier NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Customers_Cities_CityId] FOREIGN KEY ([CityId]) REFERENCES [Cities] ([Id]),
    CONSTRAINT [FK_Customers_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id]),
    CONSTRAINT [FK_Customers_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Customers_Users_DeletedBy] FOREIGN KEY ([DeletedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Customers_Users_ModifiedBy] FOREIGN KEY ([ModifiedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [Inquiries] (
    [Id] uniqueidentifier NOT NULL,
    [CompanyName] nvarchar(max) NULL,
    [ContactPerson] nvarchar(100) NULL,
    [Email] nvarchar(50) NULL,
    [Phone] nvarchar(max) NULL,
    [MobileNo] nvarchar(max) NULL,
    [Address] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [CityName] nvarchar(max) NULL,
    [Website] nvarchar(max) NULL,
    [CountryName] nvarchar(max) NULL,
    [CityId] uniqueidentifier NULL,
    [CountryId] uniqueidentifier NULL,
    [AssignTo] uniqueidentifier NULL,
    [InquiryStatusId] uniqueidentifier NULL,
    [InquirySourceId] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Inquiries] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Inquiries_Cities_CityId] FOREIGN KEY ([CityId]) REFERENCES [Cities] ([Id]),
    CONSTRAINT [FK_Inquiries_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id]),
    CONSTRAINT [FK_Inquiries_InquirySources_InquirySourceId] FOREIGN KEY ([InquirySourceId]) REFERENCES [InquirySources] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Inquiries_InquiryStatuses_InquiryStatusId] FOREIGN KEY ([InquiryStatusId]) REFERENCES [InquiryStatuses] ([Id]),
    CONSTRAINT [FK_Inquiries_Users_AssignTo] FOREIGN KEY ([AssignTo]) REFERENCES [Users] ([Id]),
    CONSTRAINT [FK_Inquiries_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [SupplierAddresses] (
    [Id] uniqueidentifier NOT NULL,
    [Address] nvarchar(max) NULL,
    [CountryName] nvarchar(max) NULL,
    [CityName] nvarchar(max) NULL,
    [CountryId] uniqueidentifier NULL,
    [CityId] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_SupplierAddresses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SupplierAddresses_Cities_CityId] FOREIGN KEY ([CityId]) REFERENCES [Cities] ([Id]),
    CONSTRAINT [FK_SupplierAddresses_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id])
);
GO

CREATE TABLE [RoleClaims] (
    [Id] int NOT NULL IDENTITY,
    [ActionId] uniqueidentifier NOT NULL,
    [RoleId] uniqueidentifier NOT NULL,
    [ClaimType] nvarchar(max) NULL,
    [ClaimValue] nvarchar(max) NULL,
    CONSTRAINT [PK_RoleClaims] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_RoleClaims_Actions_ActionId] FOREIGN KEY ([ActionId]) REFERENCES [Actions] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [UserClaims] (
    [Id] int NOT NULL IDENTITY,
    [ActionId] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [ClaimType] nvarchar(max) NULL,
    [ClaimValue] nvarchar(max) NULL,
    CONSTRAINT [PK_UserClaims] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_UserClaims_Actions_ActionId] FOREIGN KEY ([ActionId]) REFERENCES [Actions] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Inventories] (
    [Id] uniqueidentifier NOT NULL,
    [ProductId] uniqueidentifier NOT NULL,
    [Stock] bigint NOT NULL,
    [AveragePurchasePrice] decimal(18,2) NOT NULL,
    [AverageSalesPrice] decimal(18,2) NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Inventories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Inventories_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Inventories_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [ProductTaxes] (
    [ProductId] uniqueidentifier NOT NULL,
    [TaxId] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_ProductTaxes] PRIMARY KEY ([ProductId], [TaxId]),
    CONSTRAINT [FK_ProductTaxes_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ProductTaxes_Taxes_TaxId] FOREIGN KEY ([TaxId]) REFERENCES [Taxes] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_ProductTaxes_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [SalesOrders] (
    [Id] uniqueidentifier NOT NULL,
    [OrderNumber] nvarchar(max) NULL,
    [Note] nvarchar(max) NULL,
    [SaleReturnNote] nvarchar(max) NULL,
    [TermAndCondition] nvarchar(max) NULL,
    [IsSalesOrderRequest] bit NOT NULL,
    [SOCreatedDate] datetime2 NOT NULL,
    [Status] int NOT NULL,
    [DeliveryDate] datetime2 NOT NULL,
    [DeliveryStatus] int NOT NULL,
    [CustomerId] uniqueidentifier NOT NULL,
    [TotalAmount] decimal(18,2) NOT NULL,
    [TotalTax] decimal(18,2) NOT NULL,
    [TotalDiscount] decimal(18,2) NOT NULL,
    [TotalPaidAmount] decimal(18,2) NOT NULL,
    [PaymentStatus] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_SalesOrders] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SalesOrders_Customers_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Customers] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_SalesOrders_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [InquiryActivities] (
    [Id] uniqueidentifier NOT NULL,
    [Subject] nvarchar(max) NULL,
    [Description] nvarchar(max) NULL,
    [DueDate] datetime2 NULL,
    [IsOpen] bit NOT NULL,
    [AssignTo] uniqueidentifier NULL,
    [Priority] nvarchar(max) NULL,
    [InquiryId] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InquiryActivities] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InquiryActivities_Inquiries_InquiryId] FOREIGN KEY ([InquiryId]) REFERENCES [Inquiries] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_InquiryActivities_Users_AssignTo] FOREIGN KEY ([AssignTo]) REFERENCES [Users] ([Id]),
    CONSTRAINT [FK_InquiryActivities_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [InquiryAttachments] (
    [Id] uniqueidentifier NOT NULL,
    [InquiryId] uniqueidentifier NOT NULL,
    [Path] nvarchar(max) NULL,
    [Name] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InquiryAttachments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InquiryAttachments_Inquiries_InquiryId] FOREIGN KEY ([InquiryId]) REFERENCES [Inquiries] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_InquiryAttachments_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [InquiryNotes] (
    [Id] uniqueidentifier NOT NULL,
    [InquiryId] uniqueidentifier NOT NULL,
    [Note] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InquiryNotes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InquiryNotes_Inquiries_InquiryId] FOREIGN KEY ([InquiryId]) REFERENCES [Inquiries] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_InquiryNotes_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [InquiryProducts] (
    [ProductId] uniqueidentifier NOT NULL,
    [InquiryId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_InquiryProducts] PRIMARY KEY ([ProductId], [InquiryId]),
    CONSTRAINT [FK_InquiryProducts_Inquiries_InquiryId] FOREIGN KEY ([InquiryId]) REFERENCES [Inquiries] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_InquiryProducts_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Suppliers] (
    [Id] uniqueidentifier NOT NULL,
    [SupplierName] nvarchar(max) NULL,
    [ContactPerson] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [Fax] nvarchar(max) NULL,
    [MobileNo] nvarchar(max) NULL,
    [PhoneNo] nvarchar(max) NULL,
    [Website] nvarchar(max) NULL,
    [Description] nvarchar(max) NULL,
    [Url] nvarchar(max) NULL,
    [IsVarified] bit NOT NULL,
    [IsUnsubscribe] bit NOT NULL,
    [SupplierProfile] nvarchar(max) NULL,
    [BusinessType] nvarchar(max) NULL,
    [SupplierAddressId] uniqueidentifier NOT NULL,
    [BillingAddressId] uniqueidentifier NOT NULL,
    [ShippingAddressId] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Suppliers] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Suppliers_SupplierAddresses_BillingAddressId] FOREIGN KEY ([BillingAddressId]) REFERENCES [SupplierAddresses] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Suppliers_SupplierAddresses_ShippingAddressId] FOREIGN KEY ([ShippingAddressId]) REFERENCES [SupplierAddresses] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Suppliers_SupplierAddresses_SupplierAddressId] FOREIGN KEY ([SupplierAddressId]) REFERENCES [SupplierAddresses] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Suppliers_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Suppliers_Users_DeletedBy] FOREIGN KEY ([DeletedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Suppliers_Users_ModifiedBy] FOREIGN KEY ([ModifiedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [SalesOrderItems] (
    [Id] uniqueidentifier NOT NULL,
    [ProductId] uniqueidentifier NOT NULL,
    [Status] int NOT NULL,
    [SalesOrderId] uniqueidentifier NOT NULL,
    [UnitPrice] decimal(18,2) NOT NULL,
    [Quantity] int NOT NULL,
    [TaxValue] decimal(18,2) NOT NULL,
    [Discount] decimal(18,2) NOT NULL,
    [DiscountPercentage] decimal(18,2) NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    CONSTRAINT [PK_SalesOrderItems] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SalesOrderItems_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_SalesOrderItems_SalesOrders_SalesOrderId] FOREIGN KEY ([SalesOrderId]) REFERENCES [SalesOrders] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [SalesOrderPayments] (
    [Id] uniqueidentifier NOT NULL,
    [SalesOrderId] uniqueidentifier NOT NULL,
    [PaymentDate] datetime2 NOT NULL,
    [ReferenceNumber] nvarchar(max) NULL,
    [Amount] decimal(18,2) NOT NULL,
    [PaymentMethod] int NOT NULL,
    [Note] nvarchar(max) NULL,
    [AttachmentUrl] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_SalesOrderPayments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SalesOrderPayments_SalesOrders_SalesOrderId] FOREIGN KEY ([SalesOrderId]) REFERENCES [SalesOrders] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_SalesOrderPayments_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [PurchaseOrders] (
    [Id] uniqueidentifier NOT NULL,
    [OrderNumber] nvarchar(max) NULL,
    [Note] nvarchar(max) NULL,
    [PurchaseReturnNote] nvarchar(max) NULL,
    [TermAndCondition] nvarchar(max) NULL,
    [IsPurchaseOrderRequest] bit NOT NULL,
    [POCreatedDate] datetime2 NOT NULL,
    [Status] int NOT NULL,
    [DeliveryDate] datetime2 NOT NULL,
    [DeliveryStatus] int NOT NULL,
    [SupplierId] uniqueidentifier NOT NULL,
    [TotalAmount] decimal(18,2) NOT NULL,
    [TotalTax] decimal(18,2) NOT NULL,
    [TotalDiscount] decimal(18,2) NOT NULL,
    [TotalPaidAmount] decimal(18,2) NOT NULL,
    [PaymentStatus] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_PurchaseOrders] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_PurchaseOrders_Suppliers_SupplierId] FOREIGN KEY ([SupplierId]) REFERENCES [Suppliers] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_PurchaseOrders_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [SendEmails] (
    [Id] uniqueidentifier NOT NULL,
    [Subject] nvarchar(max) NULL,
    [Message] nvarchar(max) NULL,
    [SupplierId] uniqueidentifier NULL,
    [CustomerId] uniqueidentifier NULL,
    [IsSend] bit NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_SendEmails] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SendEmails_Customers_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Customers] ([Id]),
    CONSTRAINT [FK_SendEmails_Suppliers_SupplierId] FOREIGN KEY ([SupplierId]) REFERENCES [Suppliers] ([Id]),
    CONSTRAINT [FK_SendEmails_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [SalesOrderItemTaxes] (
    [Id] uniqueidentifier NOT NULL,
    [SalesOrderItemId] uniqueidentifier NOT NULL,
    [TaxId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_SalesOrderItemTaxes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SalesOrderItemTaxes_SalesOrderItems_SalesOrderItemId] FOREIGN KEY ([SalesOrderItemId]) REFERENCES [SalesOrderItems] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_SalesOrderItemTaxes_Taxes_TaxId] FOREIGN KEY ([TaxId]) REFERENCES [Taxes] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [InventoryHistories] (
    [Id] uniqueidentifier NOT NULL,
    [ProductId] uniqueidentifier NOT NULL,
    [InventorySource] int NOT NULL,
    [Stock] bigint NOT NULL,
    [PricePerUnit] decimal(18,2) NOT NULL,
    [PreviousTotalStock] bigint NOT NULL,
    [PurchaseOrderId] uniqueidentifier NULL,
    [SalesOrderId] uniqueidentifier NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_InventoryHistories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_InventoryHistories_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_InventoryHistories_PurchaseOrders_PurchaseOrderId] FOREIGN KEY ([PurchaseOrderId]) REFERENCES [PurchaseOrders] ([Id]),
    CONSTRAINT [FK_InventoryHistories_SalesOrders_SalesOrderId] FOREIGN KEY ([SalesOrderId]) REFERENCES [SalesOrders] ([Id]),
    CONSTRAINT [FK_InventoryHistories_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [PurchaseOrderItems] (
    [Id] uniqueidentifier NOT NULL,
    [ProductId] uniqueidentifier NOT NULL,
    [Status] int NOT NULL,
    [PurchaseOrderId] uniqueidentifier NOT NULL,
    [UnitPrice] decimal(18,2) NOT NULL,
    [Quantity] int NOT NULL,
    [TaxValue] decimal(18,2) NOT NULL,
    [Discount] decimal(18,2) NOT NULL,
    [DiscountPercentage] decimal(18,2) NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    CONSTRAINT [PK_PurchaseOrderItems] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_PurchaseOrderItems_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_PurchaseOrderItems_PurchaseOrders_PurchaseOrderId] FOREIGN KEY ([PurchaseOrderId]) REFERENCES [PurchaseOrders] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [PurchaseOrderPayments] (
    [Id] uniqueidentifier NOT NULL,
    [PurchaseOrderId] uniqueidentifier NOT NULL,
    [PaymentDate] datetime2 NOT NULL,
    [ReferenceNumber] nvarchar(max) NULL,
    [Amount] decimal(18,2) NOT NULL,
    [PaymentMethod] int NOT NULL,
    [Note] nvarchar(max) NULL,
    [AttachmentUrl] nvarchar(max) NULL,
    [CreatedDate] datetime2 NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [ModifiedDate] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    [ModifiedBy] uniqueidentifier NOT NULL,
    [DeletedDate] datetime2 NULL,
    [DeletedBy] uniqueidentifier NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_PurchaseOrderPayments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_PurchaseOrderPayments_PurchaseOrders_PurchaseOrderId] FOREIGN KEY ([PurchaseOrderId]) REFERENCES [PurchaseOrders] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_PurchaseOrderPayments_Users_CreatedBy] FOREIGN KEY ([CreatedBy]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO

CREATE TABLE [PurchaseOrderItemTaxes] (
    [Id] uniqueidentifier NOT NULL,
    [PurchaseOrderItemId] uniqueidentifier NOT NULL,
    [TaxId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_PurchaseOrderItemTaxes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_PurchaseOrderItemTaxes_PurchaseOrderItems_PurchaseOrderItemId] FOREIGN KEY ([PurchaseOrderItemId]) REFERENCES [PurchaseOrderItems] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_PurchaseOrderItemTaxes_Taxes_TaxId] FOREIGN KEY ([TaxId]) REFERENCES [Taxes] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_Actions_CreatedBy] ON [Actions] ([CreatedBy]);
GO

CREATE INDEX [IX_Actions_PageId] ON [Actions] ([PageId]);
GO

CREATE INDEX [IX_Brands_CreatedBy] ON [Brands] ([CreatedBy]);
GO

CREATE INDEX [IX_Cities_CountryId] ON [Cities] ([CountryId]);
GO

CREATE INDEX [IX_Cities_CreatedBy] ON [Cities] ([CreatedBy]);
GO

CREATE INDEX [IX_CompanyProfiles_CreatedBy] ON [CompanyProfiles] ([CreatedBy]);
GO

CREATE INDEX [IX_ContactRequests_CreatedBy] ON [ContactRequests] ([CreatedBy]);
GO

CREATE INDEX [IX_Countries_CreatedBy] ON [Countries] ([CreatedBy]);
GO

CREATE INDEX [IX_Customers_CityId] ON [Customers] ([CityId]);
GO

CREATE INDEX [IX_Customers_CountryId] ON [Customers] ([CountryId]);
GO

CREATE INDEX [IX_Customers_CreatedBy] ON [Customers] ([CreatedBy]);
GO

CREATE INDEX [IX_Customers_DeletedBy] ON [Customers] ([DeletedBy]);
GO

CREATE INDEX [IX_Customers_ModifiedBy] ON [Customers] ([ModifiedBy]);
GO

CREATE INDEX [IX_DailyReminders_ReminderId] ON [DailyReminders] ([ReminderId]);
GO

CREATE INDEX [IX_EmailSMTPSettings_CreatedBy] ON [EmailSMTPSettings] ([CreatedBy]);
GO

CREATE INDEX [IX_EmailSMTPSettings_DeletedBy] ON [EmailSMTPSettings] ([DeletedBy]);
GO

CREATE INDEX [IX_EmailSMTPSettings_ModifiedBy] ON [EmailSMTPSettings] ([ModifiedBy]);
GO

CREATE INDEX [IX_EmailTemplates_CreatedBy] ON [EmailTemplates] ([CreatedBy]);
GO

CREATE INDEX [IX_ExpenseCategories_CreatedBy] ON [ExpenseCategories] ([CreatedBy]);
GO

CREATE INDEX [IX_Expenses_CreatedBy] ON [Expenses] ([CreatedBy]);
GO

CREATE INDEX [IX_Expenses_ExpenseById] ON [Expenses] ([ExpenseById]);
GO

CREATE INDEX [IX_Expenses_ExpenseCategoryId] ON [Expenses] ([ExpenseCategoryId]);
GO

CREATE INDEX [IX_HalfYearlyReminders_ReminderId] ON [HalfYearlyReminders] ([ReminderId]);
GO

CREATE INDEX [IX_Inquiries_AssignTo] ON [Inquiries] ([AssignTo]);
GO

CREATE INDEX [IX_Inquiries_CityId] ON [Inquiries] ([CityId]);
GO

CREATE INDEX [IX_Inquiries_CountryId] ON [Inquiries] ([CountryId]);
GO

CREATE INDEX [IX_Inquiries_CreatedBy] ON [Inquiries] ([CreatedBy]);
GO

CREATE INDEX [IX_Inquiries_InquirySourceId] ON [Inquiries] ([InquirySourceId]);
GO

CREATE INDEX [IX_Inquiries_InquiryStatusId] ON [Inquiries] ([InquiryStatusId]);
GO

CREATE INDEX [IX_InquiryActivities_AssignTo] ON [InquiryActivities] ([AssignTo]);
GO

CREATE INDEX [IX_InquiryActivities_CreatedBy] ON [InquiryActivities] ([CreatedBy]);
GO

CREATE INDEX [IX_InquiryActivities_InquiryId] ON [InquiryActivities] ([InquiryId]);
GO

CREATE INDEX [IX_InquiryAttachments_CreatedBy] ON [InquiryAttachments] ([CreatedBy]);
GO

CREATE INDEX [IX_InquiryAttachments_InquiryId] ON [InquiryAttachments] ([InquiryId]);
GO

CREATE INDEX [IX_InquiryNotes_CreatedBy] ON [InquiryNotes] ([CreatedBy]);
GO

CREATE INDEX [IX_InquiryNotes_InquiryId] ON [InquiryNotes] ([InquiryId]);
GO

CREATE INDEX [IX_InquiryProducts_InquiryId] ON [InquiryProducts] ([InquiryId]);
GO

CREATE INDEX [IX_InquirySources_CreatedBy] ON [InquirySources] ([CreatedBy]);
GO

CREATE INDEX [IX_InquiryStatuses_CreatedBy] ON [InquiryStatuses] ([CreatedBy]);
GO

CREATE INDEX [IX_Inventories_CreatedBy] ON [Inventories] ([CreatedBy]);
GO

CREATE INDEX [IX_Inventories_ProductId] ON [Inventories] ([ProductId]);
GO

CREATE INDEX [IX_InventoryHistories_CreatedBy] ON [InventoryHistories] ([CreatedBy]);
GO

CREATE INDEX [IX_InventoryHistories_ProductId] ON [InventoryHistories] ([ProductId]);
GO

CREATE INDEX [IX_InventoryHistories_PurchaseOrderId] ON [InventoryHistories] ([PurchaseOrderId]);
GO

CREATE INDEX [IX_InventoryHistories_SalesOrderId] ON [InventoryHistories] ([SalesOrderId]);
GO

CREATE INDEX [IX_Pages_CreatedBy] ON [Pages] ([CreatedBy]);
GO

CREATE INDEX [IX_ProductCategories_CreatedBy] ON [ProductCategories] ([CreatedBy]);
GO

CREATE INDEX [IX_ProductCategories_ParentId] ON [ProductCategories] ([ParentId]);
GO

CREATE INDEX [IX_Products_BrandId] ON [Products] ([BrandId]);
GO

CREATE INDEX [IX_Products_CategoryId] ON [Products] ([CategoryId]);
GO

CREATE INDEX [IX_Products_CreatedBy] ON [Products] ([CreatedBy]);
GO

CREATE INDEX [IX_Products_UnitId] ON [Products] ([UnitId]);
GO

CREATE INDEX [IX_ProductTaxes_CreatedBy] ON [ProductTaxes] ([CreatedBy]);
GO

CREATE INDEX [IX_ProductTaxes_TaxId] ON [ProductTaxes] ([TaxId]);
GO

CREATE INDEX [IX_PurchaseOrderItems_ProductId] ON [PurchaseOrderItems] ([ProductId]);
GO

CREATE INDEX [IX_PurchaseOrderItems_PurchaseOrderId] ON [PurchaseOrderItems] ([PurchaseOrderId]);
GO

CREATE INDEX [IX_PurchaseOrderItemTaxes_PurchaseOrderItemId] ON [PurchaseOrderItemTaxes] ([PurchaseOrderItemId]);
GO

CREATE INDEX [IX_PurchaseOrderItemTaxes_TaxId] ON [PurchaseOrderItemTaxes] ([TaxId]);
GO

CREATE INDEX [IX_PurchaseOrderPayments_CreatedBy] ON [PurchaseOrderPayments] ([CreatedBy]);
GO

CREATE INDEX [IX_PurchaseOrderPayments_PurchaseOrderId] ON [PurchaseOrderPayments] ([PurchaseOrderId]);
GO

CREATE INDEX [IX_PurchaseOrders_CreatedBy] ON [PurchaseOrders] ([CreatedBy]);
GO

CREATE INDEX [IX_PurchaseOrders_SupplierId] ON [PurchaseOrders] ([SupplierId]);
GO

CREATE INDEX [IX_QuarterlyReminders_ReminderId] ON [QuarterlyReminders] ([ReminderId]);
GO

CREATE INDEX [IX_ReminderNotifications_ReminderId] ON [ReminderNotifications] ([ReminderId]);
GO

CREATE INDEX [IX_Reminders_CreatedBy] ON [Reminders] ([CreatedBy]);
GO

CREATE INDEX [IX_ReminderSchedulers_UserId] ON [ReminderSchedulers] ([UserId]);
GO

CREATE INDEX [IX_ReminderUsers_UserId] ON [ReminderUsers] ([UserId]);
GO

CREATE INDEX [IX_RoleClaims_ActionId] ON [RoleClaims] ([ActionId]);
GO

CREATE INDEX [IX_RoleClaims_RoleId] ON [RoleClaims] ([RoleId]);
GO

CREATE INDEX [IX_Roles_CreatedBy] ON [Roles] ([CreatedBy]);
GO

CREATE INDEX [IX_Roles_DeletedBy] ON [Roles] ([DeletedBy]);
GO

CREATE INDEX [IX_Roles_ModifiedBy] ON [Roles] ([ModifiedBy]);
GO

CREATE UNIQUE INDEX [RoleNameIndex] ON [Roles] ([NormalizedName]) WHERE [NormalizedName] IS NOT NULL;
GO

CREATE INDEX [IX_SalesOrderItems_ProductId] ON [SalesOrderItems] ([ProductId]);
GO

CREATE INDEX [IX_SalesOrderItems_SalesOrderId] ON [SalesOrderItems] ([SalesOrderId]);
GO

CREATE INDEX [IX_SalesOrderItemTaxes_SalesOrderItemId] ON [SalesOrderItemTaxes] ([SalesOrderItemId]);
GO

CREATE INDEX [IX_SalesOrderItemTaxes_TaxId] ON [SalesOrderItemTaxes] ([TaxId]);
GO

CREATE INDEX [IX_SalesOrderPayments_CreatedBy] ON [SalesOrderPayments] ([CreatedBy]);
GO

CREATE INDEX [IX_SalesOrderPayments_SalesOrderId] ON [SalesOrderPayments] ([SalesOrderId]);
GO

CREATE INDEX [IX_SalesOrders_CreatedBy] ON [SalesOrders] ([CreatedBy]);
GO

CREATE INDEX [IX_SalesOrders_CustomerId] ON [SalesOrders] ([CustomerId]);
GO

CREATE INDEX [IX_SendEmails_CreatedBy] ON [SendEmails] ([CreatedBy]);
GO

CREATE INDEX [IX_SendEmails_CustomerId] ON [SendEmails] ([CustomerId]);
GO

CREATE INDEX [IX_SendEmails_SupplierId] ON [SendEmails] ([SupplierId]);
GO

CREATE INDEX [IX_SupplierAddresses_CityId] ON [SupplierAddresses] ([CityId]);
GO

CREATE INDEX [IX_SupplierAddresses_CountryId] ON [SupplierAddresses] ([CountryId]);
GO

CREATE INDEX [IX_Suppliers_BillingAddressId] ON [Suppliers] ([BillingAddressId]);
GO

CREATE INDEX [IX_Suppliers_CreatedBy] ON [Suppliers] ([CreatedBy]);
GO

CREATE INDEX [IX_Suppliers_DeletedBy] ON [Suppliers] ([DeletedBy]);
GO

CREATE INDEX [IX_Suppliers_ModifiedBy] ON [Suppliers] ([ModifiedBy]);
GO

CREATE INDEX [IX_Suppliers_ShippingAddressId] ON [Suppliers] ([ShippingAddressId]);
GO

CREATE INDEX [IX_Suppliers_SupplierAddressId] ON [Suppliers] ([SupplierAddressId]);
GO

CREATE INDEX [IX_Taxes_CreatedBy] ON [Taxes] ([CreatedBy]);
GO

CREATE INDEX [IX_Testimonials_CreatedBy] ON [Testimonials] ([CreatedBy]);
GO

CREATE INDEX [IX_Testimonials_DeletedBy] ON [Testimonials] ([DeletedBy]);
GO

CREATE INDEX [IX_Testimonials_ModifiedBy] ON [Testimonials] ([ModifiedBy]);
GO

CREATE INDEX [IX_Units_CreatedBy] ON [Units] ([CreatedBy]);
GO

CREATE INDEX [IX_UserClaims_ActionId] ON [UserClaims] ([ActionId]);
GO

CREATE INDEX [IX_UserClaims_UserId] ON [UserClaims] ([UserId]);
GO

CREATE INDEX [IX_UserLogins_UserId] ON [UserLogins] ([UserId]);
GO

CREATE INDEX [IX_UserRoles_RoleId] ON [UserRoles] ([RoleId]);
GO

CREATE INDEX [EmailIndex] ON [Users] ([NormalizedEmail]);
GO

CREATE UNIQUE INDEX [UserNameIndex] ON [Users] ([NormalizedUserName]) WHERE [NormalizedUserName] IS NOT NULL;
GO

CREATE INDEX [IX_Warehouses_CreatedBy] ON [Warehouses] ([CreatedBy]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20220521125219_Initial', N'6.0.3');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO


INSERT [dbo].[Pages] ([Id], [Name], [Order], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'c08d1303-474c-48e9-a5ab-05641e80808f', N'Settings', 15, CAST(N'2022-05-21T07:43:25.4818821' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T07:43:25.4818834' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Pages] ([Id], [Name], [Order], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'fdba3bfd-6670-441a-88f2-05adbde8a661', N'Reports', 10, CAST(N'2022-05-21T07:42:25.7773381' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T07:42:25.7773394' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Pages] ([Id], [Name], [Order], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'7b542ac0-4c4b-4288-90d7-08d5f1f4f6fd', N'Reminder', 11, CAST(N'2022-05-21T07:42:36.6409351' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T07:42:36.6409364' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Actions] ([Id], [Name], [Order], [PageId], [Code], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'ba8fc8b6-8982-4197-bf2a-05ab0e79e3d1', N'View Reminders', 1, N'7b542ac0-4c4b-4288-90d7-08d5f1f4f6fd', N'REM_VIEW_REMINDERS', CAST(N'2022-05-21T08:43:22.2727873' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T09:20:18.4903842' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Actions] ([Id], [Name], [Order], [PageId], [Code], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'5340a380-a8b1-4e01-ac88-05fc5e714abd', N'Delete Purchase Order Payment', 9, N'93551dee-cb76-481f-b30c-23ebfd28aaab', N'PO_DELETE_PO_PAYMENT', CAST(N'2022-05-21T08:35:03.8762430' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T09:11:58.8839520' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Actions] ([Id], [Name], [Order], [PageId], [Code], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'e16e7eb5-cb97-4da2-958a-0c6a6ad904fc', N'View Inventories', 1, N'74eda712-7c65-4735-a9e3-ac4d09459e4b', N'INVE_VIEW_INVENTORIES', CAST(N'2022-05-21T08:40:11.8210658' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T09:18:02.8746418' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Brands] ([Id], [Name], [ImageUrl], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'ee1fca5a-a9b9-4269-66d0-08da3b2a1d41', N'Google', NULL, CAST(N'2022-05-21T13:02:09.2007327' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:47:44.3895345' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Brands] ([Id], [Name], [ImageUrl], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'f17e5d20-6c31-4c52-66d1-08da3b2a1d41', N'Apple', NULL, CAST(N'2022-05-21T13:02:19.5033825' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:48:37.2666223' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Brands] ([Id], [Name], [ImageUrl], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'b8994322-75a9-4609-66d2-08da3b2a1d41', N'MI', NULL, CAST(N'2022-05-21T13:02:29.6753372' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:48:56.3149088' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[ProductCategories] ([Id], [Name], [ParentId], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'f137e0e8-6561-41ad-86c7-9b908900800f', N'Electronics', NULL, NULL, CAST(N'2022-05-21T12:57:20.2197446' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T12:57:20.2198382' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[ProductCategories] ([Id], [Name], [ParentId], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'3b38f232-3036-4420-843c-c13b62030af1', N'Food', NULL, NULL, CAST(N'2022-05-21T12:57:23.1836297' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T12:57:23.1836338' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[ProductCategories] ([Id], [Name], [ParentId], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'cb44219c-ad95-4ef7-bbe2-4a5fa0285962', N'Accessories', N'f137e0e8-6561-41ad-86c7-9b908900800f', N'', CAST(N'2022-05-21T12:57:46.5492582' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T12:57:46.5492600' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Units] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'e9e5b90d-30a2-4af5-ac95-56710734c84b', N'Box', CAST(N'2022-05-21T13:01:25.8097997' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:01:25.8098030' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Units] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'907c5dab-b5b1-460f-b46d-ab724fa2a4ae', N'Kg', CAST(N'2022-05-21T13:01:45.6687857' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:01:45.6687875' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Units] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'4f0a0258-0a2e-4155-8e6a-d753db215fbd', N'Piece', CAST(N'2022-05-21T13:01:37.3001887' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:01:37.3001902' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Taxes] ([Id], [Name], [Percentage], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'fd3e34a9-a5e2-4e18-aed3-326cea175437', N'Sales Tax', CAST(10.00 AS Decimal(18, 2)), CAST(N'2022-05-21T12:59:28.2260611' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T12:59:49.0677348' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Taxes] ([Id], [Name], [Percentage], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'7f6fa7f1-7af8-42bc-aab9-3460c8d752bd', N'SGST', CAST(12.00 AS Decimal(18, 2)), CAST(N'2022-05-21T13:00:11.4617054' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:00:11.4617073' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Taxes] ([Id], [Name], [Percentage], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'2b9972d1-300e-45b0-93e4-6d47cea9991c', N'CGST', CAST(10.00 AS Decimal(18, 2)), CAST(N'2022-05-21T13:00:22.2836703' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:00:22.2836719' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Countries] ([Id], [CountryName], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'3a67fe96-c5e3-4511-a933-802f056cf517', N'India', CAST(N'2022-05-21T13:08:01.8583314' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:08:01.8583332' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Countries] ([Id], [CountryName], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'ae99cd88-398a-48a3-8900-d9554a308396', N'US', CAST(N'2022-05-21T13:08:04.2686302' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:08:04.2686324' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[InquirySources] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'3b8d662c-7936-46f1-bb9b-c07ae8dc2a32', N'Website', CAST(N'2022-05-21T13:13:05.7249955' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:13:05.7249981' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[InquirySources] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'eddb34bc-d5d0-40c2-9f89-c467cd27f7b0', N'Tender Notice', CAST(N'2022-05-21T13:13:09.8030567' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:13:09.8030586' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[InquirySources] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'49139820-4192-4efb-bddb-d35341407e93', N'Mobile', CAST(N'2022-05-21T13:13:13.0862080' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:13:13.0862100' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[InquiryStatuses] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'ca61dab0-b430-485b-bb05-27090e1d2204', N'Not Contacted', CAST(N'2022-05-21T13:12:53.5990633' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:12:53.5990647' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[InquiryStatuses] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'eec49fd6-287c-498a-b46c-73768d50076c', N'Contact in Future', CAST(N'2022-05-21T13:12:42.1969331' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:12:42.1969366' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[InquiryStatuses] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'0bd7ffa5-181f-4504-ba9c-9083897ffe61', N'Contacted', CAST(N'2022-05-21T13:12:58.6846312' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:12:58.6846325' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Cities] ([Id], [CityName], [CountryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'585d0953-a526-4339-8285-4f925478c272', N'Los Angeles', N'ae99cd88-398a-48a3-8900-d9554a308396', CAST(N'2022-05-21T13:08:36.4942792' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:08:36.4944028' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Cities] ([Id], [CityName], [CountryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'589eca15-21a8-4884-8102-85aeaa1523c0', N'Chicago', N'ae99cd88-398a-48a3-8900-d9554a308396', CAST(N'2022-05-21T13:08:27.8020179' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:08:27.8020198' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[Cities] ([Id], [CityName], [CountryId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'5108cc4a-f194-4bff-87cb-969712d6e08f', N'NY', N'ae99cd88-398a-48a3-8900-d9554a308396', CAST(N'2022-05-21T13:08:14.2868954' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:08:14.2868980' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[Roles] ([Id], [IsDeleted], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ff635a8f-4bb3-4d70-a3ed-c7749030696c', 0, CAST(N'2022-05-21T12:56:58.8525276' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T12:56:58.8600000' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, N'Employee', N'Employee', N'aef4f8d9-266f-4d14-8afc-6012296ff054')
INSERT [dbo].[Roles] ([Id], [IsDeleted], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'f8b6ace9-a625-4397-bdf8-f34060dbd8e4', 0, CAST(N'2022-05-21T12:55:58.2030965' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T12:55:58.3100000' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, N'Super Admin', N'Super Admin', N'8671170d-fe29-4492-9378-58afd0a078e4')
GO

INSERT [dbo].[ExpenseCategories] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'b1977db3-d909-4936-a5da-41bf84638963', N'Advertising', CAST(N'2022-05-21T13:51:40.4053215' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:51:40.4053236' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[ExpenseCategories] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'465aac5d-87e6-47f3-8691-4c1f801e58ba', N'Furniture and equipment', CAST(N'2022-05-21T13:51:44.9109295' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:51:44.9109315' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
INSERT [dbo].[ExpenseCategories] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'ddd16f3f-928d-4d8b-b513-ab5c709ff096', N'Marketing', CAST(N'2022-05-21T13:51:36.6823952' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', CAST(N'2022-05-21T13:51:36.6823970' AS DateTime2), N'4b352b37-332a-40c6-ab05-e38fcf109719', NULL, NULL, 0)
GO

INSERT [dbo].[RoleClaims] ([ActionId], [RoleId], [ClaimType], [ClaimValue]) VALUES (N'5b102028-ac30-46dc-a5df-3fb6d5db1798', N'f8b6ace9-a625-4397-bdf8-f34060dbd8e4', N'DB_STATISTICS', N'')
INSERT [dbo].[RoleClaims] ([ActionId], [RoleId], [ClaimType], [ClaimValue]) VALUES (N'c4f907db-0f28-486a-b81b-feb3fc940a6e', N'f8b6ace9-a625-4397-bdf8-f34060dbd8e4', N'DB_BEST_SELLING_PROS', N'')
INSERT [dbo].[RoleClaims] ([ActionId], [RoleId], [ClaimType], [ClaimValue]) VALUES (N'd09266a8-dbed-4c0a-ad07-4d432de4c6b0', N'f8b6ace9-a625-4397-bdf8-f34060dbd8e4', N'DB_REMINDERS', N'')
GO

INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'1a5cf5b9-ead8-495c-8719-2d8be776f452', N'ff635a8f-4bb3-4d70-a3ed-c7749030696c')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'4b352b37-332a-40c6-ab05-e38fcf109719', N'f8b6ace9-a625-4397-bdf8-f34060dbd8e4')
GO

INSERT [dbo].[Currencies] ([Id], [Symbol], [Name]) VALUES (N'dc3b14f7-fb25-4bde-8b9b-00eb532657e8', N'CHF', N'Swiss franc')
INSERT [dbo].[Currencies] ([Id], [Symbol], [Name]) VALUES (N'695a0760-54d9-49f4-894c-02694512b097', N'XSU', N'SUCRE')
INSERT [dbo].[Currencies] ([Id], [Symbol], [Name]) VALUES (N'e8c796e5-9fde-40fe-a2de-03a5063cdf82', N'MUR', N'Mauritian rupee')
GO

INSERT [dbo].[Countries] ([Id], [CountryName], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [DeletedDate], [DeletedBy], [IsDeleted]) VALUES (N'6236cb8e-fc21-4f74-a1d2-0072d726009d', N'Tunisia', CAST(N'2021-04-27T18:24:36.9833333' AS DateTime2), N'1a5cf5b9-ead8-495c-8719-2d8be776f452', CAST(N'2021-04-27T18:24:36.9833333' AS DateTime2), N'1a5cf5b9-ead8-495c-8719-2d8be776f452', NULL, NULL, 0)
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NLog_AddEntry_p] (
  @machineName nvarchar(200),
  @logged datetime,
  @level varchar(5),
  @message nvarchar(max),
  @logger nvarchar(300),
  @properties nvarchar(max),
  @callsite nvarchar(300),
  @exception nvarchar(max)
) AS
BEGIN
  INSERT INTO [dbo].[NLog] (
	[Id],
    [MachineName],
    [Logged],
    [Level],
    [Message],
    [Logger],
    [Properties],
    [Callsite],
    [Exception],
	[Source]
  ) VALUES (
    newid(),
    @machineName,
    @logged,
    @level,
    @message,
    @logger,
    @properties,
    @callsite,
    @exception,
	'.Net Core'
  )
  END
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20220521125248_Initial_Data', N'6.0.3');
GO

COMMIT;
GO

